header {
    background-color: aquamarine;
    font-family: 'Emilys Candy', cursive;
    justify-content: center;
    align-items: center;
    margin: auto;
   
}

body {
    background-color: rgb(236, 213, 83);
    font-family: 'Comfortaa', cursive;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.emojis1, h1 {
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-left: 40%;
    padding-right: 40%;
}

li, p {
    color: blueviolet;
}